





# On autorise de renommer les pages
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# On peut enlever le .php et renommer les pages comme on le souhaite

RewriteRule "^forum/$" "f_forum/forum" [L]
RewriteRule "^forum/forum" "f_forum/forum" [L]
RewriteRule ^forum/([0-9]+)$ f_forum/sujet?id=$1 [L]
RewriteRule ^forum/([0-9]+)/([0-9]+)$ f_forum/topic?id_forum=$1&id_topic=$2 [L]
RewriteRule ^forum/creer-mon-topic$ f_forum/creer_topic  [L]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php
